input {
  display: block;
  border: 2px solid #ccc;
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
}

button {
  font-family: 'Nanum Gothic', serif;
  background: #dedede;
  padding: 10px 15px;
  font-weight: bold;
  color: #444;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
}

button:hover {
  opacity: .7;
}

/*pw변경, pw설정 스타일*/
.button-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.button-container button {
  max-width: 400px; 
  padding: 10px;
  height: 40px;
  margin: 2px;
  white-space: nowrap; /*줄바꿈 안 함*/
  overflow: hidden; /* 너비 벗어나면 숨김 */
  text-overflow: ellipsis; /* 너비 벗어나는 부분 ... 표시 */
}

button[name = "DOORPWCHANGE"] { margin-right: 5rem;}

.logout-link {
  color: #474747;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
}